<div class="container screencast">	
		
	<div class="conteudo">
		<h2><neos:titulo/></h2>

		<div class="video">
			<object width="640" height="480">
				<param name="allowfullscreen" value="true" />
				<param name="allowscriptaccess" value="always" />
				<param name="movie" value="<neos:video/>" />
				<param name="autoplay" value="true" />
				<embed 
					src="<neos:video/>" 
					type="application/x-shockwave-flash" 
					allowfullscreen="true" 
					allowscriptaccess="always" 
					autoplay="true" 
					width="640" 
					height="480">
				</embed>
			</object>
		</div>	
		
		<div class="menuEsquerdo menuInferior">
			<neos:modulo name="menu" baselink="screencast/video/" book="screencast" class="menu"/>
		</div>
		
		<div class="comentarios">
				<h2>Comentários</h2>						
				<neos:modulo name="comentario" book="screencast" />						
		</div>
		
	</div>	
	
</div>