<div class="users view">
	
	
	<div class="left">
		<div class="fotoimg2">
			<a href="<neos:url/>img/users/<neos:foto/>.jpg"><img id="fotoimg2" src="<neos:url/>img/users/<neos:foto/>.jpg" width="150" alt="foto de <neos:nome/>" /></a>
		</div>
        
        <label>Localização:</label>
		<p><neos:pais/> <br /> <neos:estado/> <br /> <neos:cidade/></p>	

        <label>Contatos:</label>
		<p><neos:contato/></p>
	</div>
		
	<div class="direito">
    	<p id="titulo"><neos:nome/></p>
		<div id="tsobre"><neos:sobre/></div>
		
		
	</div>
	
</div>