<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Paulo R. B. Rocha - Currículo</title>
	<meta name="resource-types" content="document"/>
	<meta name="revisit-after" content="1"/>
	<meta name="classification" content="Internet"/>
	<meta name="Description" content="NEOS PHP Framework - simples, rápido e fácil (Brasileiro)."/>
	<meta name="Keywords" content="php,simple,neos,framework,rapido,facil,simples,php5,php6,codeigniter,symfony,smart,phpeclipse,zend,zend2,java,sql,mysql,postgresql,oracle,oci,phpmagazine,javascript,css,XHTML,HTML,tableless,revista,magazine,XML,postgres,cake,jquery,site,programa"/>
	<meta name="robots" content="ALL"/>
	<meta name="distribution" content="Global"/>
	<meta name="ICBM" content="-20.2982,-40.3298" />
	<meta name="DC.title" content="NEOS PHP Framework" />
	<meta name="rating" content="General"/>
	<meta name="author" content="Paulo R. B. Rocha"/>
	<meta name="language" content="pt-br"/>
	<meta name="doc-class" content="Completed"/>
	<meta name="doc-rights" content="Public"/>
	<link href="favicon.ico" rel="SHORTCUT ICON" />
	
	<link href="css/_all.css" rel="stylesheet" media="all" type="text/css" />
	<link href="css/_print.css" rel="stylesheet" media="print" type="text/css" />
	
	<style>
		.curriculo {background:#FFF url(img/back.png) center 200px no-repeat}
		.curriculo h1 {color:#004;margin:50px 0}
		.curriculo h2 {margin:30px 0 10px 0;color:#039;font-size:18px;border-bottom:1px solid #EEE;font-weight:normal}
		.curriculo h3 {margin:30px 0 5px 0;font-size:14px;color:#036}
		.curriculo h4, .curriculo h5 {margin:0 0 10px 0;color:#000;font-weight:normal}
		.curriculo h5 {margin:5px 0;color:#333}
		.curriculo p {color:#333;font-size:11px}
		.curriculo ul {margin-left:70px}
		.curriculo ul li {list-style:disc;font-size:11px;color:#666}
		.curriculo address {font-size:11px;color:#667;margin:10px}
		.curriculo .dados p {color:#777}
		.curriculo .dados h3 {margin:0 0 5px 0;color:#000;font-weight:normal}
		.curriculo .formacao ul {margin-top:30px;}
		.curriculo .formacao ul li {font-size:14px;font-weight:bold;color:#225}
		.curriculo .especializacao {margin-bottom:20px}
	</style>
	
</head>
<body>

	<!--NEOS PHP Framework
	Todos os direitos reservados - proibida a utilização deste material sem prévia autorização.
	Paulo R. B. Rocha - prbr@ymail.com
	http://neosphp.com-->
	
<input type="hidden" id="url" value=""/>
	
<div class="topo">
	<div class="wid">
		<a href="inicial"><h2>NEOS PHP Framework</h2></a>
		<ul class="links">
			<li><a href="manual">Manual</a></li>
			<li><a href="download">Download</a></li>
			<li><a href="screencast">ScreenCast</a></li>
			<li><a href="forum">Fórum</a></li>
		</ul>
	</div>
</div>

<div class="container curriculo">

		<h1>Paulo Rocha - currículo</h1>

		<div class="dados">

			<h2>Dados Pessoais</h2>
			<p>Nome:</p>
			<h3><b>Paulo Roberto Batista da  Rocha</b></h3>
			<p>Endereço:</p>
			<h3>Rua Pio  XII, 1274 – Magé, RJ.</h3>
			<p>Telefone:</p>
			<h3>(21) 7146-2952  / 3630-4376</h3>
			<p>E-mail:</p>
			<h3>prb_rocha@yahoo.com.br</h3>
			<p>Site:</p>
			<h3>www.paulorocha.tk / www.neosphp.com</h3>

		</div>

		<div class="formacao">

			<h2>Formação</h2>
			<ul>
				<li>Técnico de Eletrônica</li>
				<li>Técnico de Telecomunicações</li>
				<li>Técnico de Informática</li>
			</ul>

		</div>

		<div class="experiencia">

			<h2>Experiência Profissional</h2>

			<h3>GRUPO ÁGUAS DO BRASIL</h3>
			<p>Terceirizado pela PoolRH.</p>
			<h5>Cargo: <b>Consultor de Informática</b></h5>
			<h5>Atividades:</h5>
			<ul>
				<li>Programador para Web (PHP, Flash, Flex, JavaScript, HTML, CSS, etc );</li>
				<li>Estruturação da Intranet do Grupo com o desenvolvimento de várias interfaces e programas;</li>
				<li>Instalação e conversão dos programas antigos para o framework CodeIgniter (PHP + Oracle) e Jquery (JavaScript);</li>
			</ul>

			<h3>TELMART</h3>
			<p>Empresa de Telecomunicações.</p>
			<p>Representante AVAYA, Lucent, AT&T, Lorentz, Sumus, TABS,  entre as principais.</p>
			<h5>Cargo: <b>Técnico de Telecomunicações.</b></h5>
			<h5>Atividades:</h5>
			<ul>
				<li>Re-estruturação do departamento de Tarifação Centralizada com a adoção de varias medidas técnicas, de re-negociação de tarifas e estratégias para controle de gastos junto aos clientes;</li>
				<li>Desenvolvimento de solução em hardware e software para coleta de dados de tarifação por internet (com criptografia e compactação próprias) tornando o custo quase zero;</li>
				<li>Re-estruturação (projeto e execução) do CPD com a implantação de um serviço de Intranet e Internet para funcionários e clientes;</li>
				<li>Criação de softwares (Visual Basic, PHP, MySql, Delphi, C++, etc.) para equipar o Departamento de Tarifação e Administrativo;</li>
				<li>Montagem e manutenção de microcomputadores para call center;</li>
				<li>Instalação, configuração e manutenção de servidores Linux e Windows 2000/2003;</li>
				<li>Realizei uma serie de trabalhos de desenvolvimento de soluções (soft e hardware) em várias empresas para as quais a Telmart presta serviços;</li>
			</ul>

			<h3>BRATEL</h3>
			<p>Empresa de Telecomunicações.</p>
			<p>Representante AVAYA, Lucent, AT&T, Lorentz, Sumus, TABS,  entre as principais.</p>
			<h5>Cargo: <b>Técnico de Telecomunicações.</b></h5>
			<h5>Atividades:</h5>
			<ul>
				<li>Projeto, montagem e manutenção de rede estruturada de VOZ e DADOS;</li>
				<li>Instalação e programação de centrais telefônicas de varias marcas com maior ocorrência da marca Lucent e Panasonic;</li>
				<li>Implantação de serviço de Tarifação Centralizada para varios clientes da empresa;</li>
				<li>Consultoria de Telecomunicação e Informática para varias empresas terceirizadas;</li>
				<li>Manutenção de microcomputadores;</li>
				<li>Instalação, configuração e manutenção de sistema de gravação e correio de voz para call center;</li>
			</ul>

			<h3>SITE GROUP &amp; ITS</h3>
			<p>Empresa de Telecomunicação multinacional ligada ao setor de Aviação Comercial sendo responsável por <b>toda</b> a comunicação entre empresas aeronáuticas em <b>todo</b> o planeta.</p>
			<h5>Cargo: <b>Técnico de Eletrônica Pleno</b></h5>
			<h5>Atividades:</h5>
			<ul>
				<li>Projeto, montagem e manutenção da rede de VOZ e DADOS da American Air Lines;</li>
				<li>Responsável pela manutenção de todas as centrais telefônicas desta empresa na América Latina - manutenção remota principalmente;</li>
				<li>Implantação de serviço de Tarifação Centralizada - controle de custo e volume de ligações;</li>
				<li>Consultoria de Telecomunicação para as empresas do grupo;</li>
				<li>Manutenção da rede de voz nos escritórios da empresa no Brasil;</li>
			</ul>

			<h3>TIE-LINE CONSULTORES ASSOCIADOS</h3>
			<p>Empresa prestadora de serviços de Telecomunicações e Informática.</p>
			<h5>Cargo: <b>Técnico de Telecomunicações</b></h5>
			<h5>Atividades:</h5>
			<ul>
				<li>Manutenção em redes estruturadas de VOZ e DADOS;</li>
				<li>Montagem, programação e manutenção em centrais telefônicas das marcas PHILIPS, PANASONIC, LUCENT, NORTHEN, etc;</li>
				<li>Manutenção de sistemas de Tarifação (Sumus);</li>
				<li>Instalação de servidores Linux como provedor de Internet e storage - principalmente;</li>
				<li>Supervisão de vários grupos de trabalho tanto em projeto como em execução;</li>
			</ul>

			<h3>J.A.B ENGENHARIA LTDA.</h3>
			<p>Empresa prestadora de serviços de Telecomunicações e Informática.</p>
			<h5>Cargo:<b> Instalador II e logo promovido a Técnico Pleno</b></h5>
			<h5>Atividades:</h5>
			<ul>
				<li>Manutenção em redes estruturadas de VOZ e DADOS;</li>
				<li>Montagem, programação e manutenção em centrais telefônicas das marcas PHILIPS e NORTHEN;</li>
				<li>Manutenção de sistemas de Tarifação;</li>
				<li>Manutenção de aparelhos eletrônicos (telefonia, informática, etc.), principalmente na IBM Brasil onde estive por mais de três anos (terceirizado);</li>
				<li>Supervisão de equipes de técnicos em várias empresas terceirizadas;</li>
			</ul>
			<address>Esta empresa encerrou suas atividades em 1997...</address>

		</div>

		<div class="especializacao">

			<h2>Especialização</h2>

			<h5>Ao longo destes anos de muitos serviços e muita experiência adquirida, aconteceu (como é de se esperar) uma certa predileção ou especialização em algumas áreas:</h5>

				<ul>
					<li><b>Hardware</b> - montagem  de dispositivos com micro controladores e integração com computadores padrão PC  assim como modificações tipo Case Mod (hobby) e adaptações para Racks. </li>
					<li><b>Software</b> - criação  e programação de softwares usando as linguagens Visual Basic (preferida), PHP, MySql,  Asp, Delphi, C++, etc. Estou criando um site (http://www.sphp.tk) para  divulgação de projetos e troca de experiências entre programadores. <b><em>Não  acredito em freeware</em></b> e sim numa forma mais democrática de VENDER um  software, colocando o programador mais próximo dos usuários (objetivo) dos seus  programas.</li>
					<li><a href="http://www.guiadohardware.net/" target="_blank"><b>Linux</b></a> - acredito  e por isso invisto muito na tecnologia que vem se mostrando muito competente na  área de servidores e até mesmo desktops. Uma realidade viável quando as  empresas procuram diminuição de custo sem perda de performance, o Linux  realmente é a solução. Outro aspecto é a tecnologia ABERTA proporcionando aos  programadores a possibilidade de alterações, tornando o Linux adaptável a  qualquer necessidade.</li>
					<li><b>Centrais Telefônicas e VoIP</b> - Fiz  vários cursos durante a minha passagem pela Sita Group relacionados com a  tecnologia de VoIP (voz sobre IP). Creio nesta tecnologia até mesmo como  substituta dos sistemas telefônicos públicos atuais. Uma verdadeira revolução  principalmente em relação ao custo e performance. Na Telmart, estávamos  estudando a implantação de um sistema próprio usando nossa VPN para interligar os escritórios no Brasil.</li>
				</ul>

		</div>
		
</div>

<div class="footer">

	<div class="wid">		
			<p>NEOS PHP Framework - by <a href="curriculo.neos">PAULO ROCHA</a></p>
			<p>O uso, modificação e criação de software baseado é livre segundo os termos da <a href="licenca.neos">licença</a>.</p>
			<p>Se voçê gostou do NEOS, então, ajude a manter este site! Colabore com sugestões, críticas, idéias, scripts, helpers, classes, coreMod, ou ainda com a doação de qualquer quantia usando o <a href="contatos">PagueSeguro</a>.</p>		
	</div>
	
</div>

	<script type="text/javascript" src="js/_all_body.js"></script>
	<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-8226817-1']);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script>

</body>
</html>