@charset "utf-8";
/*
 * NEOS PHP Framework
 * Todos os direitos reservados - proibida a utilização deste material sem prévia autorização.
 * Paulo R. B. Rocha - prbr@ymail.com // Zurox
 * http://neosphp.com - contato@neosphp.com
 */

body{background: url(../img/back.png) left top repeat-x;}
.container {height:800px}

/*CABEÇALHO GERAL*/
#cabessa { position:absolute; top: 10px; width:950px; height:60px;}
#cabessa h1 { display:none}
#cabessa .logotipo { position:absolute; width:212px; height:80px; left:40px; background:url(/img/logotipo.png) 0 0 no-repeat; }
#cabessa .logotipo a { display:block;height:80px;}
#cabessa .topmenu {position:absolute; top:10px; left:269px; width:642px; height:50px; background:url(../img/topmenu.png) 0 0 no-repeat; }
#cabessa .topmenu ul { position:absolute; top:8px; left:90px}
#cabessa .topmenu ul li { display:inline; color:#FFF;}
#cabessa .topmenu ul li a {color:#FFF; font-size:14px; font-weight:bold; text-decoration:none; display:inline-block; text-align:center; padding:5px 15px}
#cabessa .topmenu ul li a:hover {color:#F90}
#cabessa .topmenu ul li a.selected { color:#000}

/*SUBTOPO*/
.subTopo { position:absolute; top:68px; width:870px; padding:0 40px; text-align:right;}
.subTopo * { display:inline;}
.subTopo div { margin:0 10px; color:#444}

/*CORPO (THEATER)*/
#corpo { position:absolute; top:100px; height:530px;  width:950px; background:url(../img/topcenter.png) center 0 no-repeat;}

/*VIDEO/GALERIA DISPLAY*/
#corpo .video { display:block; margin-top:30px; margin-left:75px; width:800px; height:450px}
#corpo .video object { width:800px; height:450px; display:block}

/*Spot da página inicial*/
#corpo .spot { display:block; margin-top:30px; margin-left:39px; width:872px; height:233px; background: url(../img/corte.png) center top no-repeat}
#corpo .spot div { float:left; width:230px; margin:50px 0 0 30px; padding-right:20px; border-right:1px solid #EEE; background:url(/img/icones/ouro_32.png) 0px 9px no-repeat}
#corpo .spot div h2 { font-size:28px; font-weight:bold; padding:3px 0 0 42px}
#corpo .spot div#spot1 h2 { color:#5CA310}
#corpo .spot div#spot2 h2 { color:#1066A2}
#corpo .spot div#spot3 h2 { color:#FF7E00}
#corpo .spot div#spot3 { border:none}
#corpo .spot div p{ color:#333}
#corpo .spot div *{ text-decoration:none}
#corpo .spot .backspot { clear:both; margin:20px 0; width:872px; border:none; height:21px; background:url(../img/corteB.png) center top no-repeat;}


/*MENU ESQUERDO - menu da aplicação*/
#corpo .menuEsquerdo { float:left; margin:40px 0 0 40px; padding-right:5px; width:205px; background:url(../img/sepV.png) right 40px no-repeat}
#corpo .menuEsquerdo h2.titulo { font-size:38px; color:#DDD; text-align:center}
#corpo .menuEsquerdo a { text-decoration:none; color:#999;}
#corpo .menuEsquerdo a:hover { color:#000}
#corpo .menuEsquerdo a.selected { font-weight:bold; color:#FF7E00}
#corpo .menuEsquerdo ul li { list-style:none; text-align:right; font-weight:bold; font-size:13px; padding:3px 0}
#corpo .menuEsquerdo ul li a { color:#456;}
#corpo .menuEsquerdo ul li ul { margin:5px 0;}
#corpo .menuEsquerdo ul li ul li { font-size:12px; font-weight:normal}
#corpo .menuEsquerdo ul li ul li a { color:#999;}


/*TOOLBAR*/
#corpo .conteudo .conteudo_topo .tools {float:right; margin:0 }
#corpo .conteudo .conteudo_topo .tools input{border:1px solid transparent;width:16px;height:16px;padding:10px;margin:0}
#corpo .conteudo .conteudo_topo .tools input:hover{border:1px solid #CCC}
#corpo .conteudo .conteudo_topo .tools #editar{background:url(/img/icones/edit.png) center center no-repeat}
#corpo .conteudo .conteudo_topo .tools #salvar{background:url(/img/icones/save.png) center center no-repeat}
#corpo .conteudo .conteudo_topo .tools #cancelar{ display:none;background:url(/img/icones/cross.png) center center no-repeat}


/*FORMATANDO O CONTEUDO*/
#corpo .conteudo { float:left; margin:40px 20px; width:630px;}
#corpo .conteudo p { font-size:.99em;}
#corpo .conteudo h2 { font-size:38px; color:#FF7E00}
#corpo .conteudo h3 { font-size:24px }
#corpo .conteudo h4 { font-size:20px }
#corpo .conteudo blockquote,
#corpo .conteudo code { background:#FCFCFC url(/img/rquote.png) right bottom no-repeat; padding:10px; border:1px solid #DDD; margin:5px 10px 5px 0}
#corpo .conteudo blockquote,
#corpo .conteudo code * { color:#470}


/*COMENTÁRIOS*/
#corpo .comentarios { margin:20px 0;}
#corpo .comentarios h2 {background:url(/img/icones/com.png) left center no-repeat; padding-left:30px; border-top:1px solid #000}
#corpo .comentarios h2, .comentarios h3 { margin-top:20px}
#corpo .comentarios .coment {width:100% ; border-bottom:1px solid #EEE}
#corpo .comentarios .coment.even { background:#FFE}
#corpo .comentarios .coment img { cursor:pointer; margin-bottom:-4px}
#corpo .comentarios .coment .barra {background:url(/img/icones/user.png) left center no-repeat; padding:5px 0}
#corpo .comentarios .coment span.user {  font-weight:bold; padding-left:30px; max-width:50%;}
#corpo .comentarios .coment span.date { font-size:10px; color:#999; float:right}
#corpo .comentarios .content {padding:5px; padding-bottom:20px}
#corpo .comentarios .comentar { margin-top:15px}
#corpo .comentarios .comentar textarea {width:690px; height:128px}
#corpo .comentarios .comentar input[type=button]{margin:5px 2px; width:97px}


/*DOWNLOADS*/
.download { width:700px; height:500px}
.download div.div1 { float:left; margin:50px 0 30px 50px; width:550px}
.download div.div1 h2 { margin:20px 0}
.download div.div2 { float:left; width:300px; height:540px; background:url(../img/dload.png) left center no-repeat}
.download .zip { background:url(/img/icones/zip22.png) left bottom no-repeat; padding-left:30px}
.download .pdf { background:url(/img/icones/pdf22.gif) left center no-repeat; padding-left:30px}
.download .licenca { clear:both; margin:10px 0 0 50px; padding:0}

/*SCREENCAST*/
#corpo .screencast { width: 840px;}
#corpo .screencast .video {display:block; margin:0; padding:10px; text-align:center; width:780px; height:480px; background:#000}
#corpo .screencast h2 { margin:0;}
#corpo .screencast .menuInferior { float:none; width:100%; background: transparent; margin:20px 0}
#corpo .screencast .menuInferior ul li { text-align:left; }
#corpo .screencast .menuInferior ul li a { display:block; height:25px; padding-left:30px; background: url(/img/icones/video22off.png) left center no-repeat}
#corpo .screencast .menuInferior ul li a.selected {background: url(/img/icones/video22.png) left center no-repeat}
#corpo .screencast .comentarios { width:800px;}

/*USUARIOS*/
.users {padding:20px; margin-bottom:20px; min-height:900px; width:900px; background:url(../img/corteB.png) center bottom no-repeat}
.users .listagem{ float:left; width:300px; margin:180px 0 180px 150px;}
.users .listagem ul { padding-left:20px}
.users .listagem ul li {color:#06C; text-decoration:underline; cursor:pointer; list-style:none; list-style-image: url(../img/lst.gif) }
.users .formularios { float:left; margin:80px 0 50px 20px; width:335px}
.users .formularios #fsenha{margin-top:80px; display:none}
.users .formularios .sair {margin-top:100px}
.users .formularios #fentrar {margin-top:50px}
.users .formularios input[type=text],
.users .formularios input[type=password]{ padding:2px; font-size:1.3em}
.users .formularios p.quiet {color:#C66; font-style:italic; font-size:0.9em; margin:0; padding:0}
.users .formularios #fcadastrar{ margin-top:-10px; display:none}
.users .formularios #fpesquisar{ display:none; margin-top:85px}
.users .formularios #fpesquisar #pesquisar { width:275px}
.users .formularios #fpesquisar #go_pesquisar {padding:4px 5px 3px 5px}
.users .formularios #fpesquisar ul { list-style:none; padding-left:0}
.users .formularios #fpesq_result { height:175px;  display:none}
.users .formularios #fpesq_result_span {overflow:auto; height:170px}

.users #titulo { font-size:36px; background:transparent; max-width:460px; padding:0; margin:0; font-weight:bold; border:none; color:#999}
.users #sobre { width:460px; margin:0; padding:0}
.users #tsobre { width:630px; margin:0 50px 20px 0; padding:10px 0; border-top:1px solid #EEE; height:430px; overflow:auto}
.users #contatos,
.users #tags {width:450px; height:30px}
.users .comandos { text-align:right; margin:20px 0}
.users .left{ float:left; width:300px; padding:10px 30px 10px 10px; margin: 0 10px 0 40px; background:url(../img/sepV.png) right 40px no-repeat; min-height:400px}
.users .left .fotoimg { width:300px; height:400px}
.users .left .fotoimg2 { width:150px; height:200px; margin-bottom:20px}
.users .left .coluna {float:left; width:150px}
.users .left input[type=text],
.users .left input[type=password] { width:140px}
.users .direito { float:left; width:460px; margin:0; max-height:400px}
.view {min-height:500px;}
.view .left { width:150px;}
.view .direito { width:580px}

/*RODAPÉ GERAL*/
#rodape { clear:both; padding:10px 0;  width:950px; background:url(../img/rodape.png) center 0 no-repeat;}
#rodape .links { margin:0 auto; width:950px;}
#rodape .links ul { margin:0 220px; width:950px; }
#rodape .links ul li { display:inline; color:#FFF;}
#rodape .links ul li a {color:#AAA; font-size:14px; font-weight:bold; text-decoration:none; display:inline-block; text-align:center; padding:6px 20px}
#rodape .links ul li a:hover {color:#000}
#rodape .links ul li a.selected { color:#DDD}
/*TEXTO DO RODAPÉ*/
#rodape .texto { margin-top:30px; width:950px; text-align:center;}
#rodape .texto h1 { font-size:18px; color:#000}
#rodape .texto p { font-size:10px; padding:0 40px; color:#666}