/* Geral */
* {font-family:"Lucida Grande",Verdana,Geneva,Sans-serif,Arial,Helvetica;color:#345;font-size:14px}
html,
body{background:#678; padding: 0; margin: 0}
.container{background:#EEE; margin: 0 auto}
h1,h2,h3,h4,h5,h6{color:#000;font-weight:bold;text-shadow:2px 2px 3px #AAA}
h1{margin:0 0 20px 0;padding:3px 0 7px 3px;border-bottom:1px solid #666}
h2{margin:28px 0 16px 0;padding:5px 0;border-bottom:1px solid #999}
h3{color:#333;margin:16px 0;padding:0}
h4{color:#444;margin:22px 0 0 0;padding:0}
code,pre,blockquote {font-family:"Lucida Console",Consolas,Monaco,Verdana,"Courier New",Courier,monospace,Sans-serif;font-size:12px;background:#FCFCFC;border:1px solid #DDD;color:#123;display:block;margin:14px 0;padding:12px 20px; overflow:auto}
tbody tr:nth-child(even) td,
tbody tr.even td {background:#F9F9F9}

/*Arquitetura da Página*/
#topo .xtopo{max-width:720px;min-width:300px;margin:0 auto;padding:10px 10px 20px 260px;background:url(../img/logotipo.png) 20px center no-repeat}
#topo *{margin:0;border:none;color:#FFF}

#footer{padding:20px;max-width:1000px;min-width:580px;margin:0 auto;text-align:center}
#footer *{font-size:11px;color:#FFF;text-align:center;padding:0;margin:0}
#footer a{color:#0FF;text-decoration:none}
#footer a:hover{color:#FFC;text-decoration:underline}

.extcontainer{width:100%; background:#FFF}
#conteudo{margin:0;padding:20px;background:#FFF;min-height:300px}

/*CORES - Todas as classes tem 4 caracteres para indicar as cores*/
.azul{color:#03C;}
.verm{color:#F30;}
.verd{color:#093;}
.amar{color:#DA0;}
.roxo{color:#93C;}

/*MENU*/
#menux{display:none;z-index:2000;position:fixed;right:0;top:-900px;left:0;height:500px}
#menux .fundoMenu{ margin:10px auto; padding:0 10px 0 10px; width:500px; border:1px solid #DDD; background:#F9F9F9}
#menux h2{text-shadow:none;border:none;color:#F0F0F0;font-size:96px;padding:20px 0 30px 5px;margin:0;line-height:60%;text-transform:lowercase;font-stretch:extra-expanded}
#menux ul{ padding:0 0 0 10px}
#menux ul *{list-style:none; font-weight:bold; color:#555}
#menux ul li ul{ padding:0 0 10px 10px }
#menux ul li ul *{ color:#777; font-weight:normal}
#menux ul a{ text-decoration:none; display:block}
#menux ul a:hover{color:#000}
#menux .ul1, #menu .ul2{ float:left; width:230px;}
#menux p{clear:both; font-weight:normal; padding:10px;}

#menuSwitch { float:right; margin:10px -12px 10px 0; padding:0; width:50px; background:url(../img/btMin.png) 0 0 no-repeat; color:#000; text-align:center; cursor:pointer}
#menuSwitch:hover {background:url(../img/btMin_over.png) 0px 0px no-repeat;}

#menuSwitch1 { position:fixed; right:10px; top:0; width:66px; height:50px; background:url(../img/menu.png) 0 0 no-repeat; cursor:pointer}
#menuSwitch1:hover {background:url(../img/menu_over.png) 0 0 no-repeat;}