<neos:_style href="screen.css" media="all" />
<neos:_style href="css/site.css" media="all" rel="template" />
<neos:_style href="site_print.css" media="print"/>

<neos:_script href="jquery.js" />
<neos:_script href="ckeditor/ckeditor_basic.js" />
<neos:_script href="neosite.js" />

<neos:_head/>

<body>

	<!--NEOS PHP Framework
	Todos os direitos reservados - proibida a utilização deste material sem prévia autorização.
	Paulo R. B. Rocha - prbr@ymail.com
	http://neosphp.com-->
	
<div class="topo">
	<div class="wid">
		<a href="<neos:url_link/>"><h2>NEOS PHP Framework</h2></a>
		<ul class="links">
			<li><a <neos:smanual/> href="<neos:url_link/>manual">Manual</a></li>
			<li><a <neos:sdownload/> href="<neos:url_link/>download">Download</a></li>
			<li><a <neos:sscreencast/> href="<neos:url_link/>screencast">ScreenCast</a></li>
			<li><a <neos:suser/> href="<neos:url_link/>user">Usuários</a></li>
			<li><a <neos:sforum/> href="<neos:url_link/>forum">Fórum</a></li>
		</ul>
	</div>
</div>

<div class="subTopo">
	<div>Tema : <neos:select var="themas" id="changeTheme" title="Escolha um tema para o site"/></div>
	<neos:modulo name="login"/>
</div>
	
	<neos:_area name="body"/>

<div class="footer">
	<div class="wid">		
			<p>NEOS PHP Framework - by <a href="<neos:url_link/>curriculo.neos">PAULO ROCHA</a></p>
			<p>O uso, modificação e criação de software baseado é livre segundo os termos da <a href="<neos:url_link/>licenca.neos">licença</a>.</p>
			<p>Se voçê gostou do NEOS, então, ajude a manter este site! Colabore com sugestões, críticas, idéias, scripts, helpers, classes, coreMod, ou ainda com a doação de qualquer quantia usando o <a href="<neos:url_link/>contatos">PagueSeguro</a>.</p>
	</div>	
</div>

<neos:_footer/>
