
<div class="container download">
		
		<div class="div1">
		
			<h2>Arquivos</h2>
			
			<div class="zip">
				<p><a href="<neos:url/>download/id/1">core.zip</a> <span>(175k)</span> | <a href="<neos:url/>download/id/2">core.phar</a> <span>(156k)</span>
				<br /><span>Arquivos PHAR funcionam melhor a partir da versão 5.2.9 do PHP.</span></p>
			</div>
			
			<div class="zip">
				<p><a href="<neos:url/>download/id/3" >app.zip</a> <span>(528k) Aplicação de exemplo usada na <a href="<neos:url/>screencast/index/2">vídeo-aula</a> (core + app)</span></p>
			</div>
			
			<h2>Manuais</h2>
			
			<div class="pdf">
				<p><a href="<neos:url/>download/id/4">Manual de Usuário.pdf</a> <span>(484k)</span>
				<br /><span>Tudo o que você precisa saber para usar o NEOS em poucos minutos.</span></p>
			</div>
			
			<div class="pdf">
				<p><a  href="<neos:url/>download/id/5">Configurando o NEOS.pdf</a> <span>(300k)</span>
				<br /><span>Descrição, passo-a-passo, dos parâmetros de configuração do framework.</span></p>
			</div>
		
		</div>
		
		<div class="licenca"><label><input class="checkbox" name="licenca" type="checkbox" id="licenca" value="concordo" /> Concordo com os termos da <a href="<neos:url/>licenca" target="_new" >licença</a> de uso.</label></div>
			
</div>
