<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>404 Page Not Found</title>
<style>
*{padding:0; margin:0; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#900; font-size:12px}
.error404{margin:100px auto; width:600px; border:1px solid #F00; background:#FEE}
h1{ font-size:24px; padding:20px}
p{padding:0 20px}
a{color:#F30}
p em{ color:#F99}
address{ background:#F00; color:#FFF; padding:2px 20px; margin-top:30px; text-align:center}
address a{ text-decoration:none;color:#FFF}
address a:hover{ text-decoration:underline}
</style>
<script type="text/javascript">a=setTimeout("document.location.href='<neos:url/>'",10000)</script>
</head>
<body>
	<div class="error404">
		<h1>Atenção!</h1>
		<p>A página solicitada <b>não</b> existe!</p>
		<p>Volte a <a href="javascript:history.back();">anterior</a> ou vá para a <a href="<neos:url/>">inicial</a> do site.</p>
		<p><em>Se o java script estiver ativo em seu navegador você será redirecionado para a página inicial.</em></p>
		<address>Powered by <a href="http://neosphp.com">NEOS PHP Framework</a> (ver.: <?php echo NEOS_CAN;?>) - Status: 404 - Page Not Found!</address>
	</div>
</body>
</html>