
<div class="footer">
	<div class="wid">		
			<p>NEOS PHP Framework - by <a href="<neos:url/>curriculo.neos">PAULO ROCHA</a></p>
			<p>O uso, modificação e criação de software baseado é livre segundo os termos da <a href="<neos:url/>licenca.neos">licença</a>.</p>
			<p>Se voçê gostou do NEOS, então, ajude a manter este site! Colabore com sugestões, críticas, idéias, scripts, helpers, classes, coreMod, ou ainda com a doação de qualquer quantia usando o <a href="<neos:url/>contatos">PagueSeguro</a>.</p>
	</div>	
</div>

</body>
</html>