<div id="menuSwitch1">&nbsp;</div>

        <div id="menux">
            <div class="fundoMenu">
                <div id="menuSwitch">&nbsp;</div>
                <h2>índice</h2>
                
                <neos:modulo name="menu" baselink="manual/" book="manual" class="ul1"/>
                
                <p>Para informações atualizadas, consulte o manual em <a href="#">http://www.neosphp.com</a>.</p>
            </div>
        </div>

        <div id="topo">
            <div class="xtopo">
                 <h2>Manual de Uso :: <neos:var var="titulo"/></h2>
                <p><em>Anyone who ever performs profiling of a Zend Framework application will immediately recognize that class loading is relatively expensive in Zend Framework.</em></p>
            </div>
        </div>


    <div class="extcontainer">
        <div class="container">


            <div id="conteudo">

                <div class="conteudo_topo">
                    <neos:var var="tools"/>
                </div>



                <form method="post" action="<neos:url/>inicial/salvar/<neos:var var="id"/>"/>
                    <div id="cconteudo">
                        <neos:var var="conteudo"/>
                    </div>
                </form>

                <div class="comentarios">
                    <h2>Comentários</h2>
                    <neos:modulo name="comentario" book="manual" />
                </div>


            </div>

        </div>
	</div>