<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NEOS PHP Framework - Ativação de Cadastro</title>
<style>
*{font-family:"Trebuchet MS",Arial,Tahoma,Helvetica,Geneva,sans-serif;margin:0;padding:0;line-height:120%;color:#FFF}
body{width:700px;margin:20px auto;padding:20px;border:1px solid #678;background:#345}
a{color:#069}
b{font-size:1.5em}
div {margin:10px 0;padding:20px;border:1px solid #000;background:#FFF}
div p{color:#345}
div p b{color:#345;font-size:1.1em}
span{color:#9AB;font-style:italic;font-size:0.75em}
</style>
</head>
<body>
<p>Olá, <b><neos:nome/></b>!</p>
<p>Agora você faz parte da comunidade de usuários e desenvolvedores do NEOS!</p>
<div>
<p>Seu código de acesso (CAN) é: <b><neos:login/></b>.</p>
<p>O link para a sua página é: <a href="http://neosphp.com/user/<neos:login/>">http://neosphp.com/user/<neos:login/></a>.</p>
<br />
<p>Para acessar o site e ativar seu cadastro use o link:</p>
<p><a href="http://neosphp.com/user/ativar/<neos:codigo/>" target="_new">http://neosphp.com/user/ativar/<neos:codigo/></a></p>
<p>Este link funcionará somente até 72 horas depois do envio deste e-mail.</p>
<br />
<p>Você também pode acessar o site e fazer um &quot;fastLogin&quot; usando a string: <b><neos:login/>senha</b></p>
<p>Ou seja, você digita seu código de acesso seguido da senha na mesma caixa de texto.</p>
</div>
<span>Caso você não tenha feito cadastro em nosso site por favor nos desculpe o engano e desconsidere este e-mail.</span>
</body>
</html>