<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>NEOS PHP Framework</title>
	<meta name="resource-types" content="document"/>
	<meta name="revisit-after" content="1"/>
	<meta name="classification" content="Internet"/>
	<meta name="Description" content="NEOS PHP Framework - simples, rápido e fácil (Brasileiro)."/>
	<meta name="Keywords" content="php,simple,neos,framework,rapido,facil,simples,php5,php6,codeigniter,symfony,smart,phpeclipse,zend,zend2,java,sql,mysql,postgresql,oracle,oci,phpmagazine,javascript,css,XHTML,HTML,tableless,revista,magazine,XML,postgres,cake,jquery,site,programa"/>
	<meta name="robots" content="ALL"/>
	<meta name="distribution" content="Global"/>
	<meta name="ICBM" content="-20.2982,-40.3298" />
	<meta name="DC.title" content="NEOS PHP Framework" />
	<meta name="rating" content="General"/>
	<meta name="author" content="Paulo R. B. Rocha"/>
	<meta name="language" content="pt-br"/>
	<meta name="doc-class" content="Completed"/>
	<meta name="doc-rights" content="Public"/>
	<link href="<neos:url/>favicon.ico" rel="SHORTCUT ICON" />
    
	<neos:_style href="screen.css" />
	<neos:_style href="zurox.css" />
	<neos:_style href="site_print.css" media="print"/>
	<neos:_script href="jquery/jquery.js" />	
	<neos:_script href="nicEdit/nicEdit.js" />
	<neos:_script href="neosite.js" />
    
</head>
<body>

	<!--NEOS PHP Framework
	Todos os direitos reservados - proibida a utilização deste material sem prévia autorização.
	Paulo R. B. Rocha - prbr@ymail.com
	http://neosphp.com-->
	
<div class="topo">
	<div class="wid">
		<a href="<neos:url/>"><h2>NEOS PHP Framework</h2></a>
		<ul class="links">
			<li><a <neos:smanual/> href="<neos:url/>manual">Manual</a></li>
			<li><a <neos:sdownload/> href="<neos:url/>download">Download</a></li>
			<li><a <neos:sscreencast/> href="<neos:url/>screencast">ScreenCast</a></li>
			<li><a <neos:suser/> href="<neos:url/>user">Usuários</a></li>
			<li><a <neos:sforum/> href="<neos:url/>forum">Fórum</a></li>
		</ul>
	</div>
</div>

<neos:modulo name="login"/>

<?php //echo _pt($_SESSION)._pt(_user());
?>
